@import './mixins/checkbox';
@import './mixins/radio';
@import './mixins/switch';

[class^='mo-radio'],
[class*=' mo-radio'],
[class^='mo-checkbox'],
[class*=' mo-checkbox'],
[class^='mo-switch'],
[class*=' mo-switch'] {
    position: relative;

    display: inline;

    margin: 0;

    user-select: none;
}

[class^='mo-radio'],
[class*=' mo-radio'],
[class^='mo-checkbox'],
[class*=' mo-checkbox'] {
    > .icon {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        border: rem(1) solid transparent;
        background-color: #fff;
        margin: 0;
        padding: 0;
		&:after {
			content: '';
			position: absolute;
		}
        ~ span {
            margin-left: .5rem;
        }
    }
    > input {
        position: absolute;
        z-index: -1;

        opacity: 0;
        ~ .icon,
        ~ span {
            cursor: pointer;
        }
    }
}

//radio
[class^='mo-radio'],
[class*=' mo-radio'] {
    @include radioSize(1.25rem);
    @include radioStyle($color-placeholder);
    & + [class^='mo-radio'],
    & + [class*=' mo-radio'] {
        margin-left: 1rem;
    }
    > .icon {
        border-radius: 50%;
        &:after {
            top: 50%;
            left: 50%;
            width: rem(12);
            height: rem(12);
            margin-top: rem(-6);
            margin-left: rem(-6);
            border-radius: 50%;
            background-color: transparent;
        }
    }
}

//style 
.mo-radio--primary {
    @include radioStyle($color-primary);
}
.mo-radio--negative {
    @include radioStyle($color-negative);
}
.mo-radio--positive {
    @include radioStyle($color-positive);
}


//checkbox
[class^='mo-checkbox'],
[class*=' mo-checkbox'] {
    @include checkboxSize(1.25rem);
    @include checkboxStyle($color-placeholder);
    & + [class^='mo-checkbox'],
    & + [class*=' mo-checkbox'] {
        margin-left: 1rem;
    }
    > .icon {
        border-radius: 0;
        &:after {
            top: 11.5%;
            left: 11.2%;
            width: 80%;
            height: 50%;
            transform: rotate(-50deg);
            border: rem(2) solid transparent;
            background-color: transparent;
        }
    }
}

//style 
.mo-checkbox--primary {
    @include checkboxStyle($color-primary);
}
.mo-checkbox--negative {
    @include checkboxStyle($color-negative);
}
.mo-checkbox--positive {
    @include checkboxStyle($color-positive);
}
