.mo-left {
    float: left!important;
}
.mo-right {
    float: right!important;
}
.mo-clearfix {
    @include clearFix;
}
.mo-text-left {
    text-align: left!important;
}
.mo-text-center {
    text-align: center!important;
}
.mo-text-right {
    text-align: right!important;
}
.mo-text-lowercase {
    text-transform: lowercase!important;
}
.mo-text-uppercase {
    text-transform: uppercase!important;
}
.mo-text-capitalize {
    text-transform: capitalize!important;
}
.mo-text-overflow {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}
.mo-invisible {
    visibility: hidden!important;
}
.mo-visible {
    visibility: visible!important;
}
.mo-hide {
    display: none!important;
}
.mo-show {
    display: block!important;
}
.mo-inline {
    display: inline!important;
}
.mo-inline-block {
    display: inline-block!important;
}

.mo-bg-primary,
.mo-bg-positive,
.mo-bg-negative {
    color: #fff;
}
.mo-bg-primary {
    background-color: $color-primary;
}
.mo-bg-positive {
    background-color: $color-positive;
}
.mo-bg-negative {
    background-color: $color-negative;
}

.mo-text-primary {
    color: $color-primary;
}
.mo-text-positive {
    color: $color-positive;
}
.mo-text-negative {
    color: $color-negative;
}
.mo-text-title {
    color: $color-title;
}
.mo-text-default {
    color: $color-text;
}
.mo-text-description {
    color: $color-description;
}
.mo-text-hint {
    color: $color-hint;
}
.mo-text-important,
.mo-code {
    color: #bd4147;
}
