body {
	background-color: #f5f5f5;
}
.demo {
	padding: 1rem;
	max-width: 960px;
	margin: 0 auto;
	background-color: #fff;
}
.demo-back {
	margin-bottom: 1rem;
}
.demo-header {
	
}

.demo-nav {

}

.demo-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.demo-nav ul >li {
	padding: .5rem 0;
	border-bottom: 1px solid #eee;
}


.demo-body {
	
}

.demo-form legend{
	margin-bottom: .5rem
}
.demo-form fieldset {
	margin-top: 1rem;
	margin-bottom:  1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #eee;
}